* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15%;
  margin-left: 15%;
}

/* STYLE SECTIONING TAGS */
body {
  background-color: #e5e5e5;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* STYLE TEXT */

h1 {
  color: #ab87ff;
  text-align: center;
  /*text-decoration-line:underline;
  i dont want text decor */
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

h2 {
  padding: 5px;
}

ul {
  list-style-type: none;
  background-color: #D7CEED;
  overflow: hidden;
  padding: 1em;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: ##564480;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  background-color: #564480;
  color: #D7CEED;
}

#introText {
  color: #2B2240;
}

.portImg {
  border-radius: 25%;
  border: 4px solid #D7CEED;
}

p {
  color: #564480;
  font-size: 1em;
  text-align:left;
  padding-top: 1em;
  padding-bottom: 1em;
  /*
  padding-left: 10px;
  padding-bottom: 15px;
  */
}

/* STYLE IMAGES */
img {
  width: 95%;
  max-width: 600px;
  height: auto;
  border-radius: 8%;
  border: 4px solid #ab87ff;
  margin-top: 1em;
}

/* STYLE NAV BAR */